.footer {
    background-color: rgb(81, 255, 0);
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(139, 245, 19);
    border-radius: 50%;
    display: inline-block;
}

.btn {
    border-radius: 0rem;
    color: brown;
}


/* mouse over link */

a:hover {
    color: rgb(31, 134, 21);
}

a:link {
    text-decoration: none;
    color: rgb(206, 212, 206);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(27, 221, 59);
}

a:active {
    text-decoration: none;
}